---
title: O Único Quase-Alfabético Sem-Besteiras Guia Para Detectar Tudo - Dive Into HTML5
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]><script src=j/html5.js></script><![endif]-->
    <link
      rel="alternate"
      type="application/atom+xml"
      href="https://github.com/webfatorial/diveintohtml5/commits/gh-pages.atom"
    />
    <link
      rel="alternate"
      href="http://diveintohtml5.info/everything.html"
      hreflang="en"
    />
    <link rel="stylesheet" href="screen.css" />
    <style>
      h1:before {
        content: 'Apêndice A:';
      }
      dd {
        padding-bottom: 1.75em;
      }
      pre {
        margin: 0;
        padding: 0;
      }
      a.hl:link,
      a.hl:visited {
        color: #fff;
        padding-left: 0.1em;
        text-decoration: none;
        border: 0;
      }
      dt:hover a.hl {
        background: transparent;
        color: silver;
      }
    </style>
    <link
      rel="stylesheet"
      media="only screen and (max-device-width: 480px)"
      href="mobile.css"
    />
    <link rel="prefetch" href="detect.html" />
  </head>
  <body cz-shortcut-listen="true">
    {% include fork.html %}

    <p>
      Você está aqui: <a href="index.html">Home</a> <span class="u">‣</span>
      <a href="table-of-contents.html#everything"
        >Dive Into <abbr>HTML5</abbr></a
      >
      <span class="u">‣</span>
    </p>
    <h1>
      <br />O Único<br />Quase-Alfabético<br />Sem-Besteiras Guia Para<br />Detectar
      Tudo
    </h1>
    <p class="a">❧</p>
    <p>
      (Confuso? Leia
      <a href="detect.html"
        >Detectando Funcionalidades da <abbr>HTML5</abbr>: É Elementar, Meu Caro
        Watson</a
      >
      para uma introdução conceitual. Quer uma biblioteca completa? Experimente
      <a href="http://modernizr.com/">Modernizr</a>.)
    </p>
    <dl>
      <dt id="audio">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/video.html#audio"
          ><code>&lt;audio&gt;</code></a
        >
        <a class="hl" href="#audio">#</a>
      </dt>
      <dd>
        <code>return !!document.createElement('audio').canPlayType;</code>
      </dd>
      <dt id="audio-mp3">
        <a href="http://en.wikipedia.org/wiki/MP3"
          ><code>&lt;audio&gt;</code> no formato MP3</a
        >
        <a class="hl" href="#audio-mp3">#</a>
      </dt>
      <dd>
        <pre><code>var a = document.createElement('audio');
return !!(a.canPlayType &amp;&amp; a.canPlayType('audio/mpeg;').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="audio-vorbis">
        <a href="http://en.wikipedia.org/wiki/Vorbis"
          ><code>&lt;audio&gt;</code> no formato Vorbis</a
        >
        <a class="hl" href="#audio-vorbis">#</a>
      </dt>
      <dd>
        <pre><code>var a = document.createElement('audio');
return !!(a.canPlayType &amp;&amp; a.canPlayType('audio/ogg; codecs="vorbis"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="audio-wav">
        <a href="http://en.wikipedia.org/wiki/WAV"
          ><code>&lt;audio&gt;</code> no formato WAV
        </a>
        <a class="hl" href="#audio-wav">#</a>
      </dt>
      <dd>
        <pre><code>var a = document.createElement('audio');
return !!(a.canPlayType &amp;&amp; a.canPlayType('audio/wav; codecs="1"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="audio-aac">
        <a href="http://en.wikipedia.org/wiki/Advanced_Audio_Coding"
          ><code>&lt;audio&gt;</code> no formato AAC</a
        >
        <a class="hl" href="#audio-aac">#</a>
      </dt>
      <dd>
        <pre><code>var a = document.createElement('audio');
return !!(a.canPlayType &amp;&amp; a.canPlayType('audio/mp4; codecs="mp4a.40.2"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="canvas">
        <a href="canvas.html"><code>&lt;canvas&gt;</code></a>
        <a class="hl" href="#canvas">#</a>
      </dt>
      <dd>
        <code>return !!document.createElement('canvas').getContext;</code>
      </dd>
      <dt id="canvas-text">
        <a href="canvas.html#text"
          ><code>&lt;canvas&gt;</code> text <abbr>API</abbr></a
        >
        <a class="hl" href="#canvas-text">#</a>
      </dt>
      <dd>
        <pre><code>var c = document.createElement('canvas');
return c.getContext &amp;&amp; typeof c.getContext('2d').fillText == 'function';</code></pre>
      </dd>
      <dt id="command">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/interactive-elements.html#the-command"
          ><code>&lt;command&gt;</code></a
        >
        <a class="hl" href="#command">#</a>
      </dt>
      <dd><code>return 'type' in document.createElement('command');</code></dd>
      <dt id="datalist">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/the-button-element.html#the-datalist-element"
          ><code>&lt;datalist&gt;</code></a
        >
        <a class="hl" href="#datalist">#</a>
      </dt>
      <dd>
        <pre><code>return 'options' in document.createElement('datalist');</code></pre>
      </dd>
      <dt id="details">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/interactive-elements.html#the-details-element"
          ><code>&lt;details&gt;</code></a
        >
        <a class="hl" href="#details">#</a>
      </dt>
      <dd><code>return 'open' in document.createElement('details');</code></dd>
      <dt id="device">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/commands.html#devices"
          ><code>&lt;device&gt;</code></a
        >
        <a class="hl" href="#device">#</a>
      </dt>
      <dd><code>return 'type' in document.createElement('device');</code></dd>
      <dt id="novalidate">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/association-of-controls-and-forms.html#constraints"
          ><code>&lt;form&gt;</code> constraint validation</a
        >
        <a class="hl" href="#novalidate">#</a>
      </dt>
      <dd>
        <code>return 'noValidate' in document.createElement('form');</code>
      </dd>
      <dt id="sandbox">
        <a href="http://blog.whatwg.org/whats-next-in-html-episode-2-sandbox"
          ><code>&lt;iframe sandbox&gt;</code></a
        >
        <a class="hl" href="#sandbox">#</a>
      </dt>
      <dd>
        <code>return 'sandbox' in document.createElement('iframe');</code>
      </dd>
      <dt id="srcdoc">
        <a href="http://blog.whatwg.org/whats-next-in-html-episode-2-sandbox"
          ><code>&lt;iframe srcdoc&gt;</code></a
        >
        <a class="hl" href="#srcdoc">#</a>
      </dt>
      <dd><code>return 'srcdoc' in document.createElement('iframe');</code></dd>
      <dt id="autofocus">
        <a href="forms.html#autofocus"><code>&lt;input autofocus&gt;</code></a>
        <a class="hl" href="#autofocus">#</a>
      </dt>
      <dd>
        <code>return 'autofocus' in document.createElement('input');</code>
      </dd>
      <dt id="placeholder">
        <a href="forms.html#placeholder"
          ><code>&lt;input placeholder&gt;</code></a
        >
        <a class="hl" href="#placeholder">#</a>
      </dt>
      <dd>
        <code>return 'placeholder' in document.createElement('input');</code>
      </dd>
      <dt id="placeholder-textarea">
        <a href="forms.html#placeholder"
          ><code>&lt;textarea placeholder&gt;</code></a
        >
        <a class="hl" href="#placeholder-textarea">#</a>
      </dt>
      <dd>
        <code>return 'placeholder' in document.createElement('textarea');</code>
      </dd>
      <dt id="input-color">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/number-state.html#color-state"
          ><code>&lt;input type="color"&gt;</code></a
        >
        <a class="hl" href="#input-color">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'color');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-email">
        <a href="forms.html#type-email"
          ><code>&lt;input type="email"&gt;</code></a
        >
        <a class="hl" href="#input-email">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'email');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-number">
        <a href="forms.html#type-number"
          ><code>&lt;input type="number"&gt;</code></a
        >
        <a class="hl" href="#input-number">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'number');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-range">
        <a href="forms.html#type-range"
          ><code>&lt;input type="range"&gt;</code></a
        >
        <a class="hl" href="#input-range">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'range');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-search">
        <a href="forms.html#type-search"
          ><code>&lt;input type="search"&gt;</code></a
        >
        <a class="hl" href="#input-search">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'search');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-tel">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#telephone-state"
          ><code>&lt;input type="tel"&gt;</code></a
        >
        <a class="hl" href="#input-tel">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'tel');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-url">
        <a href="forms.html#type-url"><code>&lt;input type="url"&gt;</code></a>
        <a class="hl" href="#input-url">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'url');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-date">
        <a href="forms.html#date"><code>&lt;input type="date"&gt;</code></a>
        <a class="hl" href="#input-date">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'date');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-time">
        <a href="forms.html#date"><code>&lt;input type="time"&gt;</code></a>
        <a class="hl" href="#input-time">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'time');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-datetime">
        <a href="forms.html#date"><code>&lt;input type="datetime"&gt;</code></a>
        <a class="hl" href="#input-datetime">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'datetime');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-datetime-local">
        <a href="forms.html#date"
          ><code>&lt;input type="datetime-local"&gt;</code></a
        >
        <a class="hl" href="#input-datetime-local">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'datetime-local);
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-month">
        <a href="forms.html#date"><code>&lt;input type="month"&gt;</code></a>
        <a class="hl" href="#input-month">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'month');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="input-week">
        <a href="forms.html#date"><code>&lt;input type="week"&gt;</code></a>
        <a class="hl" href="#input-week">#</a>
      </dt>
      <dd>
        <pre><code>var i = document.createElement('input');
i.setAttribute('type', 'week');
return i.type !== 'text';</code></pre>
      </dd>
      <dt id="meter">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/the-button-element.html#the-meter-element"
          ><code>&lt;meter&gt;</code></a
        >
        <a class="hl" href="#meter">#</a>
      </dt>
      <dd><code>return 'value' in document.createElement('meter');</code></dd>
      <dt id="output">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/the-button-element.html#the-output-element"
          ><code>&lt;output&gt;</code></a
        >
        <a class="hl" href="#output">#</a>
      </dt>
      <dd><code>return 'value' in document.createElement('output');</code></dd>
      <dt id="progress">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/the-button-element.html#the-progress-element"
          ><code>&lt;progress&gt;</code></a
        >
        <a class="hl" href="#progress">#</a>
      </dt>
      <dd>
        <code>return 'value' in document.createElement('progress');</code>
      </dd>
      <dt id="time">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-time-element"
          ><code>&lt;time&gt;</code></a
        >
        <a class="hl" href="#time">#</a>
      </dt>
      <dd>
        <code>return 'valueAsDate' in document.createElement('time');</code>
      </dd>
      <dt id="video">
        <a href="video.html"><code>&lt;video&gt;</code></a>
        <a class="hl" href="#video">#</a>
      </dt>
      <dd>
        <code>return !!document.createElement('video').canPlayType;</code>
      </dd>
      <dt id="video-captions">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/video.html#websrt"
          ><code>&lt;video&gt;</code> captions</a
        >
        <a class="hl" href="#video-captions">#</a>
      </dt>
      <dd><code>return 'src' in document.createElement('track');</code></dd>
      <dt id="video-poster">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/video.html#attr-video-poster"
          ><code>&lt;video poster&gt;</code></a
        >
        <a class="hl" href="#video-poster">#</a>
      </dt>
      <dd><code>return 'poster' in document.createElement('video');</code></dd>
      <dt id="video-webm">
        <a href="http://www.webmproject.org/"
          ><code>&lt;video&gt;</code> no formato WebM</a
        >
        <a class="hl" href="#video-webm">#</a>
      </dt>
      <dd>
        <pre><code>var v = document.createElement('video');
return !!(v.canPlayType &amp;&amp; v.canPlayType('video/webm; codecs="vp8, vorbis"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="video-h264">
        <a href="video.html#h264"
          ><code>&lt;video&gt;</code> no formato H.264</a
        >
        <a class="hl" href="#video-h264">#</a>
      </dt>
      <dd>
        <pre><code>var v = document.createElement('video');
return !!(v.canPlayType &amp;&amp; v.canPlayType('video/mp4; codecs="avc1.42E01E, mp4a.40.2"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="video-theora">
        <a href="video.html#theora"
          ><code>&lt;video&gt;</code> no formato Theora</a
        >
        <a class="hl" href="#video-theora">#</a>
      </dt>
      <dd>
        <pre><code>var v = document.createElement('video');
return !!(v.canPlayType &amp;&amp; v.canPlayType('video/ogg; codecs="theora"').replace(/no/, ''));</code></pre>
      </dd>
      <dt id="contenteditable">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/editing.html#contenteditable"
          ><code>contentEditable</code></a
        >
        <a class="hl" href="#contenteditable">#</a>
      </dt>
      <dd>
        <code
          >return 'isContentEditable' in document.createElement('span');</code
        >
      </dd>
      <dt id="postmessage">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/comms.html#web-messaging"
          >mensagem Cross-document</a
        >
        <a class="hl" href="#postmessage">#</a>
      </dt>
      <dd><code>return !!window.postMessage;</code></dd>
      <dt id="dnd">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dnd.html#dnd"
          >Drag-and-drop</a
        >
        <a class="hl" href="#dnd">#</a>
      </dt>
      <dd>
        <code>return 'draggable' in document.createElement('span');</code>
      </dd>
      <dt id="filereader">
        <a href="http://dev.w3.org/2006/webapi/FileAPI/"
          >File <abbr>API</abbr></a
        >
        <a class="hl" href="#filereader">#</a>
      </dt>
      <dd><code>return typeof FileReader != 'undefined';</code></dd>
      <dt id="geolocation">
        <a href="geolocation.html">Geolocalização</a>
        <a class="hl" href="#geolocation">#</a>
      </dt>
      <dd><code>return !!navigator.geolocation;</code></dd>
      <dt id="history">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/history.html#the-history-interface"
          >History</a
        >
        <a class="hl" href="#history">#</a>
      </dt>
      <dd>
        <code
          >return !!(window.history &amp;&amp; window.history.pushState);</code
        >
      </dd>
      <dt id="storage">
        <a href="http://dev.w3.org/html5/webstorage/">Local storage</a>
        <a class="hl" href="#storage">#</a>
      </dt>
      <dd>
        <pre><code>try {
  return 'localStorage' in window &amp;&amp; window['localStorage'] !== null;
} catch(e) {
  return false;
}</code></pre>
      </dd>
      <dt id="microdata">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/links.html#microdata-dom-api"
          >Microdata</a
        >
        <a class="hl" href="#microdata">#</a>
      </dt>
      <dd><code>return !!document.getItems;</code></dd>
      <dt id="offline">
        <a href="offline.html">Aplicações Web Offline</a>
        <a class="hl" href="#offline">#</a>
      </dt>
      <dd><code>return !!window.applicationCache;</code></dd>
      <dt id="eventsource">
        <a href="http://dev.w3.org/html5/eventsource/"
          >Eventos enviados pelo servidor</a
        >
        <a class="hl" href="#eventsource">#</a>
      </dt>
      <dd><code>return typeof EventSource !== 'undefined';</code></dd>
      <dt id="session-storage">
        <a href="http://dev.w3.org/html5/webstorage/">Session storage</a>
        <a class="hl" href="#session-storage">#</a>
      </dt>
      <dd>
        <pre><code>try {
  return 'sessionStorage' in window &amp;&amp; window['sessionStorage'] !== null;
} catch(e) {
  return false;
}</code></pre>
      </dd>
      <dt id="svg">
        <a href="http://www.w3.org/TR/SVG/"><abbr>SVG</abbr></a>
        <a class="hl" href="#svg">#</a>
      </dt>
      <dd>
        <code
          >return !!(document.createElementNS &amp;&amp;
          document.createElementNS('http://www.w3.org/2000/svg',
          'svg').createSVGRect);</code
        >
      </dd>
      <dt id="inline-svg">
        <a
          href="http://hacks.mozilla.org/2010/05/firefox-4-the-html5-parser-inline-svg-speed-and-more/"
          ><abbr>SVG</abbr> in <code>text/html</code></a
        >
        <a class="hl" href="#inline-svg">#</a>
      </dt>
      <dd>
        <pre><code>var e = document.createElement('div');
e.innerHTML = '&lt;svg&gt;&lt;/svg&gt;';
return !!(window.SVGSVGElement &amp;&amp; e.firstChild instanceof window.SVGSVGElement);</code></pre>
      </dd>
      <dt id="undo">
        <a
          href="http://www.whatwg.org/specs/web-apps/current-work/multipage/dnd.html#undo"
          >Undo</a
        >
        <a class="hl" href="#undo">#</a>
      </dt>
      <dd><code>return typeof UndoManager !== 'undefined';</code></dd>
      <dt id="indexeddb">
        <a href="http://www.w3.org/TR/IndexedDB/">IndexedDB</a>
        <a class="hl" href="#indexeddb">#</a>
      </dt>
      <dd><code>return !!window.indexedDB;</code></dd>
      <dt id="websockets">
        <a href="http://dev.w3.org/html5/websockets/">Web Sockets</a>
        <a class="hl" href="#websockets">#</a>
      </dt>
      <dd><code>return !!window.WebSocket;</code></dd>
      <dt id="websql">
        <a href="http://dev.w3.org/html5/webdatabase/">Web SQL Database</a>
        <a class="hl" href="#websql">#</a>
      </dt>
      <dd><code>return !!window.openDatabase;</code></dd>
      <dt id="workers">
        <a href="http://www.whatwg.org/specs/web-workers/current-work/"
          >Web Workers</a
        >
        <a class="hl" href="#workers">#</a>
      </dt>
      <dd><code>return !!window.Worker;</code></dd>
      <dt id="widgets">
        <a href="http://www.w3.org/TR/widgets/">Widgets</a>: estou em um?
        <a class="hl" href="#widgets">#</a>
      </dt>
      <dd><code>return typeof widget !== 'undefined';</code></dd>
      <dt id="xmlhttprequest-withcredentials">
        <a
          href="http://www.w3.org/TR/XMLHttpRequest2/#the-withcredentials-attribute"
          >XMLHttpRequest: requisições cross-domain</a
        >
        <a class="hl" href="#xmlhttprequest-withcredentials">#</a>
      </dt>
      <dd><code>return "withCredentials" in new XMLHttpRequest;</code></dd>
      <dt id="xmlhttprequest-formdata">
        <a href="http://www.w3.org/TR/XMLHttpRequest2/#the-formdata-interface"
          >XMLHttpRequest: envio como formData</a
        >
        <a class="hl" href="#xmlhttprequest-formdata">#</a>
      </dt>
      <dd><code>return !!window.FormData;</code></dd>
      <dt id="xmlhttprequest-upload">
        <a href="http://www.w3.org/TR/XMLHttpRequest2/#the-upload-attribute"
          >XMLHttpRequest: eventos de progresso de upload</a
        >
        <a class="hl" href="#xmlhttprequest-upload">#</a>
      </dt>
      <dd><code>return "upload" in new XMLHttpRequest;</code></dd>
    </dl>

    <p class="a">❧</p>
    <h2 id="further-reading">Leitura complementar</h2>

    <p>Especificações e normas:</p>
    <ul>
      <li>
        <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/"
          ><abbr>HTML5</abbr></a
        >
      </li>
      <li>
        <a href="http://www.w3.org/TR/geolocation-API/">Geolocalização</a>
      </li>
      <li>
        <a href="http://dev.w3.org/html5/eventsource/">Server-Sent Events</a>
      </li>
      <li>
        <a href="http://dev.w3.org/2006/webapi/WebSimpleDB/">WebSimpleDB</a>
      </li>
      <li><a href="http://dev.w3.org/html5/websockets/">Web Sockets</a></li>
      <li>
        <a href="http://dev.w3.org/html5/webdatabase/">Web SQL Database</a>
      </li>
      <li><a href="http://dev.w3.org/html5/webstorage/">Web Storage</a></li>
      <li>
        <a href="http://www.whatwg.org/specs/web-workers/current-work/"
          >Web Workers</a
        >
      </li>
      <li><a href="http://www.w3.org/TR/widgets/">Widgets</a></li>
      <li>
        <a href="http://www.w3.org/TR/XMLHttpRequest2/"
          >XMLHttpRequest Level 2</a
        >
      </li>
    </ul>

    <p>Bibliotecas JavaScript:</p>
    <ul>
      <li>
        <a href="http://www.modernizr.com/">Modernizr</a>, uma biblioteca
        <abbr>HTML5</abbr> de detecção
      </li>
    </ul>

    <p class="a">❧</p>
    <p>
      Este foi “O Único Quase-Alfabético Sem-Besteiras Guia Para Detectar Tudo.”
      O <a href="table-of-contents.html">Sumário</a> tem muito mais, se você
      quiser continuar a leitura.
    </p>
    <div class="pf">
      <h4>Você sabia?</h4>
      <div class="moneybags">
        <blockquote>
          <p>
            Em associação a Google Press, O’Reilly está distribuindo este livro
            em variados formatos, incluindo papel, ePub, Mobi,
            <abbr>DRM</abbr>-free e <abbr>PDF</abbr>. A edição paga é chamada
            “HTML5: Up &amp; Running,” e está disponível agora.
          </p>
          <p>
            Se você gostou dessa introdução e quer mostrar como apreciou, basta
            <a
              href="http://www.amazon.com/HTML5-Up-Running-Mark-Pilgrim/dp/0596806027?ie=UTF8&amp;tag=diveintomark-20&amp;creativeASIN=0596806027"
              >comprar o livro “HTML5: Up &amp; Running” com esse link
              afiliado</a
            >
            ou
            <a href="http://oreilly.com/catalog/9780596806033"
              >comprar a edição eletrônica diretamente da O’Reilly</a
            >. Você vai ganhar um livro, e eu vou ganhar um trocado. Atualmente
            não aceito doações diretas.
          </p>
        </blockquote>
      </div>
    </div>

    {% include copyright.html %}
    {% include google-search.html %}
    <script src="j/jquery.js"></script>
    <script src="j/dih5.js"></script>
    <script>
      $('dt[id]').each(function() {
        $('<a class=hl>#</a>')
          .attr('href', '#' + this.id)
          .appendTo(this);
      });
    </script>
    {% include google-analytics.html %}
  </body>
</html>
